.registerContainer{
  width: 300px;
  height: 250px;
  padding: 20px;
  border-radius: 10px;
  z-index: 3;
  background-color: white;
  box-shadow: 3px 3px 20px rgba(51, 50, 50, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo{
  color: rgb(255, 50, 50);
  display: flex;
  align-items: center;
  font-weight: 700;
}

.registerButton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: rgb(255, 50, 50);
}
.registerButton:hover{
  transform: scale(1.05);
}

.success {
  color: green;
  font-size: 12px;
  text-align: center;
}

.error {
  color: rgb(255, 50, 50);
  font-size: 12px;
  text-align: center;
}

.registerCancel{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: rgb(255, 50, 50);
}

.registerCancel:hover{
  transform: scale(1.1);
}