.signinContainer{
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  z-index: 3;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo{
  color: red;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.signinButton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: red;
}
.signinButton:hover{
  transform: scale(1.05);
}

.error {
  color: red;
  font-size: 12px;
  text-align: center;
}

.signinCancel{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: red;
}

.signinCancel:hover{
  transform: scale(1.1);
}