.card{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label{
  width: max-content;
  color: red;
  font-size: 15px;
  border-bottom: .5px solid red;
  margin: 3px 0;
}

.desc{
  font-size: 14px;
}

.star{
  color: gold;
}

.username{
  font-size: 14px;
}

.date{
  font-size: 12px;
}

.marker{
  z-index: 1;
}

.marker .room:hover {
  transform: scale(1.2);
}

.popup {
  z-index: 2;
}

form{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

input{
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder{
  font-size: 12px;
  color: rgb(167, 161, 161);
}

.createpin{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: red;
  cursor: pointer;
}
.createpin:hover{
  transform: scale(1.05);
}

.deleteButton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: red;
  cursor: pointer;
}

.deleteButton:hover{
  transform: scale(1.05);
}

.button{
  border: none;
  padding: 5px;
  margin: 0px 2.5px;
  border-radius: 5px;
  color: white;
  background-color: red;
  cursor: pointer;
}

.button:hover{
  transform: scale(1.1);
}

.buttons,.signout{
  z-index: 3;
  position: absolute;
  top: 10px;
  right: 98px;
}

.howto {
  z-index: 3;
  position: absolute;
  top: 10px;
  right: 10px;
}
